<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="day3"/>
    <bean id="before" class="day3.view.common.BeforeAdvice"/>
    <bean id="afterReturning" class="day3.view.common.AfterReturningAdvice"/>
    <bean id="afterThrowing" class="day3.view.common.AfterThrowingAdvice"/>
    <bean id="after" class="day3.view.common.AfterAdvice"/>
    <aop:config>
        <aop:pointcut id="allPointcut"
                      expression="execution(* day3..*Impl.*(..))" />
        <aop:pointcut id="getPointcut"
                      expression="execution(* day3..*Impl.get*(..))"/>
<!--        <aop:aspect ref="log">-->
<!--            <aop:after pointcut-ref="getPointcut" method="printLog" />-->
<!--        </aop:aspect>-->

        <aop:aspect ref="before">
            <aop:before pointcut-ref="allPointcut" method="beforeLog"/>
        </aop:aspect>

    </aop:config>

    <aop:aspectj-autoproxy/>
    <context:property-placeholder location="classpath:config/database.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--    Spring JDBC 설정-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--    Transaction 설정-->
    <bean id="txManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
</beans>