<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="day3"/>
    <bean id="log" class="day3.common.LogAdvice"/>
    <bean id="before" class="day3.common.BeforeAdvice"/>
    <bean id="afterReturning" class="day3.common.AfterReturningAdvice"/>
    <bean id="afterThrowing" class="day3.common.AfterThrowingAdvice"/>
    <bean id="after" class="day3.common.AfterAdvice"/>
    <bean id="around" class="day3.common.AroundAdvice"/>
    <aop:config>
        <aop:pointcut id="allPointcut"
                      expression="execution(* day3..*Impl.*(..))" />
        <aop:pointcut id="getPointcut"
                      expression="execution(* day3..*Impl.get*(..))"/>
        <aop:pointcut id="testPointcut"
                      expression="execution(* day3..*Test.*(..))"/>
<!--        <aop:aspect ref="log">-->
<!--            <aop:after pointcut-ref="getPointcut" method="printLog" />-->
<!--        </aop:aspect>-->

        <aop:aspect ref="before">
            <aop:before pointcut-ref="allPointcut" method="beforeLog"/>
        </aop:aspect>

        <aop:aspect ref="around">
            <aop:around pointcut-ref="allPointcut" method="aroundLog"/>
        </aop:aspect>

    </aop:config>
</beans>