<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
<!--    <context:component-scan base-package="day1.polymorphism"/>-->
    <context:component-scan base-package="day2"/>
<!--    <bean class="day1.polymorphism.AppleSpeaker"/>-->
<!--&lt;!&ndash;       <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destroyMethod" lazy-init="true" scope="singleton"></bean>&ndash;&gt;
       <bean id="tv" class="polymorphism.SamsungTV">
&lt;!&ndash;              <constructor-arg index="0" ref="apple"></constructor-arg>&ndash;&gt;
&lt;!&ndash;              <constructor-arg index="1" value="2700000"></constructor-arg>&ndash;&gt;
              <property name="speaker" ref="apple"></property>
              <property name="price" value="8798798"></property>
       </bean>
       <bean id="tv2" class="polymorphism.LgTV">
           <property name="speaker" ref="sony"></property> &lt;!&ndash;bean 객체 생성 동시에 setSpeaker메소드 호출 &ndash;&gt;
           <property name="price" value="245000"></property>
       </bean>
       <bean id="tv3" class="polymorphism.SamsungTV" p:speaker-ref="apple" p:price="10000000"></bean>

       <bean id="sony" class="polymorphism.SonySpeaker"></bean>
       <bean id ="apple" class="polymorphism.AppleSpeaker"></bean>
        <bean id="collectionBean" class="ioc.injection.CollectionBean">
            <property name="addressList">
                <list>
                    <value> 서울시 강남구 일원동</value>
                    <value> 서울시 강남구 개포동</value>
                </list>
            </property>
        </bean>-->

    <bean id="log" class="day2.common.LogAdvice"></bean>
    <aop:config>
        <aop:pointcut id="allPointcut"
                      expression="execution(* day2..*Impl.*(..))" />
        <aop:pointcut id="getPointcut"
                      expression="execution(* day2..*Impl.get*(..))"/>

        <aop:aspect ref="log">
            <aop:after pointcut-ref="getPointcut" method="printLog" />
        </aop:aspect>
    </aop:config>
</beans>